APP_ENV=development
APP_KEY=<your-app-key>
APP_PORT=13000

API_BASE_PATH=/api/
API_BASE_URL=

PLUGIN_PACKAGE_PREFIX=

DB_LOGGING=off
DB_DIALECT=postgres
DB_HOST=<neon-host>
DB_PORT=5432
DB_DATABASE=<neon-database>
DB_USER=<neon-user>
DB_PASSWORD=<neon-password>

DB_DIALECT_OPTIONS_SSL_MODE=require
DB_DIALECT_OPTIONS_SSL_REJECT_UNAUTHORIZED=false

INIT_ROOT_EMAIL=admin@nocobase.com
INIT_ROOT_PASSWORD=<your-root-password>
INIT_ROOT_NICKNAME=Super Admin
INIT_ROOT_USERNAME=nocobase
